@media all and (max-width : 1270px) {
	#header.greek li{margin-right:10px;}
}



@media all and (max-width : 1200px) {
	#header li{margin-right:15px;}

	#nachrichten div{
		padding:5px;
	}



	.grid-container-news{
		max-width:1200px;
		width: 100%;
		margin:0 auto;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		/* grid-template-rows: minmax(100px, auto); */
		grid-template-rows:minmax(220px, auto);
		grid-gap: 20px;
		grid-template-areas:
			"NNobel 	NNobel 		NNobel"
			"NFormula 	NFormula 	NFormula"
			"NPres		NPres		NPres"
			"NAng 		NAng		NAng"
			"NLambo		NLambo		NLambo"
			"NBaum		NBaum		NBaum"
			"NSnow		NSnow		NSnow"
			"NWeb		NWeb		NWeb";

	}

	.N_Werbig{display:none;}

	#Nimg_Pres, #Nimg_Baum, #Nimg_Lambo, #Nimg_Snow, #Nimg_Ang, #Nimg_Web, #Nimg_Formula, #Nimg_Nobel{
		height:220px;
		width:auto;
		float:left;
		margin-right:5px;
	}


}

@media all and (max-width : 900px) {
	#header{display:none;}
	#mobile_header{display:inline;}
	#home_title{font-size:3em;}
	#home_slogan{font-size:1em;}
	#kontakt_title{font-size:3em;}
	#kontakt_slogan{font-size:1em;}
	#nachrichten h1{margin:0.5em 0 0.5em 0;}
	.contact_h1{font-size: 2.5em;}
}

@media all and (max-width : 850px) {

}

@media all and (max-width : 700px) {
	.grid-container-news{
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"NNobel 	NNobel"
			"NFormula 	NFormula"
			"NPres	NPres"
			"NAng	NAng"
			"NLambo	NLambo"
			"NBaum	NBaum"
			"NSnow	NSnow"
			"NWeb	NWeb";
		grid-gap: 10px;
	}

	/* .N_img{display:none;} */
	/* #Nimg_Pres	{display:none;} */
	/* #Nimg_Ang	{display:none;} */
	/* #Nimg_Lambo	{display:none;} */
	/* #Nimg_Snow	{display:none;} */
	/* #Nimg_Baum	{display:none;} */
	/* #Nimg_Web	{display:none;} */



	#Nimg_Pres, #Nimg_Ang, #Nimg_Lambo, #Nimg_Snow, #Nimg_Baum, #Nimg_Web, #Nimg_Formula, #Nimg_Nobel{
		max-width:100%;
		max-height:250px;
		height:auto;
		margin-left: calc(50% + 0px);
		transform: translateX(-50%);
		z-index:-10;}
	/* #Nimg_Ang	{max-width:100%;max-height:220px;margin:0 auto;} */
	/* #Nimg_Lambo	{max-width:100%;max-height:220px;margin:0 auto;} */
	/* #Nimg_Snow	{max-width:100%;max-height:220px;margin:0 auto;} */
	/* #Nimg_Baum	{max-width:100%;max-height:220px;margin:0 auto;} */
	/* #Nimg_Web	{max-width:100%;max-height:220px;margin:0 auto;} */

}

@media all and (max-width : 375px) {
/* iPHX */

	.grid-container-news{
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"NNobel 	NNobel"
			"NFormula 	NFormula"
			"NPres	NPres"
			"NAng	NAng"
			"NLambo	NLambo"
			"NBaum	NBaum"
			"NSnow	NSnow"
			"NWeb	NWeb";
		grid-gap: 10px;
	}
	.N_Werbig{display:none;}






	#contact label, #contact input, #contact textarea, #contact select{
		width:90%;
	}

	#contact1{
		padding-top:100px;
	}









}


@media all and (max-width : 560px) {
	#home_title{font-size:2.5em;}
	.footer{padding:4% 3% 4% 3%;}
}

@media all and (max-width : 460px) {
	#mobile_nav_logo{display:none;}
	#home_title{font-size:2em;}
	.contact_h1{font-size: 2em;}
}
