
/* --

green 		#638c50
green hell  #a8d2a0


 */


*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

*:focus {outline:none !important}

body{
  font-family:'Cabin', 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:white;
  background-color:#a8d2a0;
  width:100%;
  height:100%;
  
}

html{
  width:100%;
  height:100%;
}

.verlinkungen{
    position: absolute;
    z-index: -1;
    left: 0;
    margin-top: -60px;
}

h2{
	font-size:1.5em;
	margin:3% 0 3% 0;
	text-align:center;
}


/*----- Navigation -----*/
#header{
	width:100%;
	position:fixed;
	z-index:10;
}

#header a{
	color:black;
	text-decoration:none;
	text-transform:uppercase;
	font-size:1em;
}

a.active {border-bottom: 2px solid black;}

#header a:hover{
	color:#686868;
	border-bottom: 2px solid black;
}
#header li{margin-right:30px;}

#header.large{
	height:80px;
	background-color:transparent;
}

#header.large img{
	margin-top:10px;
	height:60px;
}

#header.large li{margin-top:31px;}

#header.small{
	height:60px;
	background-color:#a8d2a0;
	border-bottom:1px solid rgba(0, 0, 0, 0.3);
}

#header.small img{
	margin-top:5px;
	height:50px;
}

#header.small li {margin-top:21px;}

#header, nav, a, img, li{
	transition:.7s all;
	-moz-transition:.7s all;
	-webkit-transition:.7s all;
	-o-transition:.7s all;
}

.container{
  width:70%;
  min-width:740px;
  margin:0 auto;
}

#navigation{
	width:100%;
	margin:0 auto;
}

#nav_logo{float:left;}

ul{float:right;}

li{display:inline; float:left;}



/* ----- ----- ----- */
/* ----- Mobile nav ----- */
#mobile_header{
	display:none;
	height:60px;
	width:100%;
	/* background-color:pink; */
	z-index:10;
}

.mobile_container{
	position:fixed;
	height:60px;
	width:100%;
	background-color:#a8d2a0;
	z-index:10;
}

.mobile_container a{
	text-decoration:none;
	color:black;
	text-transform:uppercase;
	font-size:1em;
}

.mobile_container ul li a{color:white;}

.mobile_container ul{
	position:fixed;
	top:60px;
	width:100%;
}

.btn{
	float:right;
	margin-right:30px;
	display: block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 18px;
	line-height: 60px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	
}


.subdiv{float:none;}

.subdiv li{
	float:none;
	display:block;
	width:100%;
	background-color:#638c50;
	text-align:center;
	border-bottom:1px solid rgba(255, 255, 255, 0.3);
	height:30px;
	line-height:30px;
}

#mobile_nav_logo{
	height:50px;
	float:left;
	margin:5px 0 5px 30px;
}

/* ----- ----- ----- */
/* ----- Home ----- */
#home{
	display: table;
    width: 100%;
    height: 105%;
    padding: 250px 0;
    text-align: center;
    color: white;
    background: url("../media/Untitled1.jpg") no-repeat bottom center scroll;
    background-color: #a8d2a0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#home_title{font-size:4em;}

#rotate div{font-size:1.5em;}








/* ----- ----- ----- */
/* ----- news ----- */

#nachrichten{
	width:100%;
	height:auto;
	padding-top:60px;
	min-height:800px;
}

#nachrichten h1{
	font-size: 3.5em;
	text-align:center;
}


.grid-container-news{
	max-width:1200px;
	width: 100%;
	margin:0 auto;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/* grid-template-rows: minmax(220px, auto); */
	grid-template-rows:260px 260px 260px;
	grid-gap: 20px;
	grid-template-areas: 
		"NWerbig 	NPres 		NPres 			NAng"
		"NLambo		NLambo		NLambo			NAng"
		"NSnow		NSnow		NBaum			NBaum"
		"NSnow		NSnow		NWeb			NWeb"
		"NSnow		NSnow		NWeb			NWeb";
	
    /* overflow: hidden; */
	
	
	
}


.grid-container-news div{
	text-align:justify;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	background-color:#87b771;
	
}

.grid-container-news div .DateNews{
	text-align:right;
	font-size:0.75em;
	font-weight:bold;
}

.grid-container-news div h3{margin:5px;}
.grid-container-news div p{margin:5px;}

.N_Pres{padding-right:5px;}

#Nimg_Pres, #Nimg_Baum, #Nimg_Lambo{
	height:100%;
	float:left;
	margin-right:5px;
}

#Nimg_Snow, #Nimg_Ang, #Nimg_Web{
	width:100%;
}


.N_Lambo a{color:white;}


.N_Web{grid-area:NWeb;}
.N_Snow{grid-area:NSnow;}
.N_Lambo{grid-area:NLambo;}
.N_PresP{grid-area:NPresP;}
.N_Werbig{grid-area:NWerbig;}
.N_Ang{grid-area:NAng;}
.N_Pres{grid-area:NPres;}
.N_Baum{grid-area:NBaum;}




/* ----- ----- ----- */

/* ----- 404 ----- */


#NotFoundPage{
	padding-top:120px;
	text-align:center;
}

#test{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width:600px;
}

/* ----- ----- ----- */







/* ----- ----- ----- */
/* ----- Footer ----- */

#footer{
	width:100%;
	max-width:1200px;
	height:auto;
	margin:0 auto;
	border-top:3px solid rgba(0, 0, 0, 0.3);
	margin-top:2%;
	
}

#footer_insta{height:1em;}

#footer_left{
	float:left;
	text-align:left;
	
	/* background-color:yellow; */
}

#footer_right{
	float:right;
	text-align:right;
	
	/* background-color:orange; */
}

.footer{
	width:50%;
	height:100%;
	padding:3%;
	font-family:Arial;
	
}

.footer a{
	color:white;
	margin-left:1%;
}

.footer a.active, .footer a:hover{
	color:#686868;
}


/* ----- ----- ----- */



















